<h1>CHAT</h1>
<hr />
<div class="app-mensajes" id="app-mensajes">
  <div
    *ngFor="let chat of _cs.chats"
    [ngClass]="{ 'text-right': _cs.usuario.uid == chat.uid }"
  >
    <span
      class="badge badge-primary"
      [ngClass]="{
        'badge-primary': _cs.usuario.uid == chat.uid,
        'badge-success': _cs.usuario.uid != chat.uid
      }"
      >{{ chat.nombre }}</span
    >
    <p>{{ chat.mensaje }}</p>
    <p>{{ chat.fecha | date: "dd-MM-yyyy" }}</p>
    <p>{{ chat.hora | date: "hh:mm" }}</p>
  </div>

  <input
    class="form-control"
    type="text"
    name="mensaje"
    [(ngModel)]="mensaje"
    (keyup.enter)="enviar_mensaje()"
    placeholder="enviar mensaje"
  />
</div>
